*
{
    margin: 0px;
    padding: 0%;
    font-family: "Inter", sans-serif;
}


nav
{
   display: flex;
   justify-content: space-between;
   background-color:white;
   align-items: center;
   margin: 0px;
   padding: 12px;

}
ul
{
   padding: 10px;
   display: flex;
   list-style: none;
   gap:40px;
}

nav a
{
  text-decoration: none;
  color: #575757 ;
 
}

.logo img
{
    
    margin-left:120px;
    height: 38px;
    width: 150px;
}

.common-btn button
{
    width: 180px;
    height: 50px;
    margin-right:120px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius:9px;
    font-weight: bold;
    font-size: 17px;
    
}

.header-content button
{
    width: 200px;
    height: 55px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 9px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    margin-top: 180px;
    
}
.header-content h1
{
    display: flex;
    font-size: 80px;
    justify-content: center;
    margin-top: 100px;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/banner.jpg') ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-content
{  
    display: flex;
    justify-content: center;
    color: white;
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.header-content p {
    text-align: center;
    font-size: 22px;
}
.banner
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
}
.banner div img
{
    width: 100%;
    border-radius: 12px;
}
.speaker-section
{
    width: 70%;
    margin: 120px auto;
   
}
.speaker-section h2
{
    font-size: 56px;
    text-align: center;
    margin-bottom: 40px;
}
.speaker-container
{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:26px;

}
.cards
{
   background: #fff;
    border: 1px solid #efefef;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fffafa;

}
.card img
{

    width: 100%;

}

.card-content
{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    display: grid;
    gap:8px;
    padding:18px 20px;
}

.card-content .dpt 
{
    color: #1D4ED8;
    font-weight: bold;
    font-size: 12px ;
}
.card-content h3
{
    font-size: 18px;
    font-weight: bold;
}